.game-card {
    height: 100vh;
    font-family: 'Open Sans', monospace;
}

#game {
    background-color:lightgray ;
    width: 500px;
}
#btnLess {
    background-color: rgb(15, 54, 228);
    
}

#btnOver {
    background-color: orangered;
}
